{% extends 'base_dados/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">

                </section>
                <section class="tags">

                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Bases de dados</h2>
                        <ul class="cards__lista">

                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}