{% extends 'base_dados/base.html' %}
{% load static %}
{% block content %}
<h2 class="cards__titulo">Correlação da variável</h2>
<section class="conteudo">
    <section class="imagem">
        <div class="imagem__conteudo">

            <p><b>Tabela de correlação:</b></p>
            {% autoescape off %}
                {{view.tab_corr}}
            {% endautoescape %}
            <br><br>

            <p><b>Boxplot da variável denpendente:</b></p>
            <img src="data:image/png;base64,{{ view.img_boxplot_denpendente }}" alt="">
            <br><br>
        </div>
    </section>
</section>

</main>
</div>
{% endblock %}